
h1, h2, h3, h4, h5, p, a {
    font-family: Poppins, sans-serif;
    text-align: center;
    }
    
    h1, h3 {
      font-weight: bold;
    }
    
    h2, h4, h5 {
      font-weight: lighter;
    }

   